.refbutton.premium.free08>.refbutton-instance {
	color: var(--default-color) !important;
	background: transparent !important;
	background-color: transparent !important;
	border-radius: var(--border-radius) !important;
	overflow: visible!important;
}

.refbutton.premium.free08 .refbutton-instance,
.refbutton.premium.free08 .refbutton-instance * {
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
}

.refbutton.premium.free08 .refbutton-instance:not([disabled]):hover,
.refbutton.premium.free08 .refbutton-instance:not([disabled]):hover * {
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	background: transparent !important;
	background-color: transparent !important;
}

.refbutton.premium.free08>.refbutton-instance::after,
.refbutton.premium.free08 >.refbutton-instance::before {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	top: 100% !important;
	left: 0 !important;
	width: 100% !important;
	height: calc(var(--border-width)*1px) !important;
	background: var(--default-color) !important;
	transform: scale(0.9) !important;
}

.refbutton.premium.free08>.refbutton-instance:not([disabled]):hover:before {
	top: calc(-1* calc(var(--border-width)*1px)) !important;
	transform: scale(1) !important;
	background: var(--default-color) !important;
}

.refbutton.premium.free08>.refbutton-instance:not([disabled]):hover:after {
	transform: scale(1) !important;
	background: var(--default-color) !important;
}

