.refbutton.premium.free19 > .refbutton-instance {
	color: var(--default-color) !important;
	background: transparent !important;
	background-color: transparent !important;
	border: calc(var(--border-width)*1px) solid var(--default-color) !important;
	overflow: hidden !important;
	border-radius: var(--border-radius) !important;
}

.refbutton.premium.free19 .refbutton-instance,
.refbutton.premium.free19 .refbutton-instance * {
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.free19 .refbutton-instance:not([disabled]):hover,
.refbutton.premium.free19 .refbutton-instance:not([disabled]):hover *{
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
}
.refbutton.premium.free19>.refbutton-instance:not([disabled]):hover {
	border-color: var(--default-color) !important;	
	background: transparent !important;
	background-color: transparent !important;
}

.refbutton.premium.free19 > .refbutton-instance::after {
	content: "" !important;
	position: absolute !important;
	border: calc(var(--border-width)*1px) solid var(--default-color) !important;
	opacity: 0 !important;
	top: 50% !important;
	left: 50% !important;
	height: 0% !important;
	width: 150% !important;
	z-index: -1 !important;
	transform: translateY(-50%) translateX(-50%) rotate(90deg) !important;
	transition: opacity var(--transition) linear, height var(--transition) ease !important;
}

.refbutton.premium.free19 > .refbutton-instance:not([disabled]):hover:after {
	opacity: 1 !important;
	height: calc(var(--button-actual-width) + 25px) !important;
	transition: opacity .1s linear, height var(--transition) ease !important;
}