.refbutton.premium.premium09>.refbutton-instance {
	background: transparent !important;
	background-color: transparent !important;
	color: var(--default-color) !important;
	border-radius: var(--border-radius) !important;
}

.refbutton.premium.premium09 .refbutton-instance,
.refbutton.premium.premium09 .refbutton-instance *{
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover,
.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover *{
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	background: transparent !important;
	background-color: transparent !important;
}

.refbutton.premium.premium09>.refbutton-instance::after,
.refbutton.premium.premium09>.refbutton-instance::before {
	content: "" !important;
	display: block !important;
	position: absolute !important;
	width: 20% !important;
	height: 20% !important;
	border: calc(var(--border-width)*1px) solid !important;
	border-radius: var(--border-radius) !important;
}

.refbutton.premium.premium09>.refbutton-instance::after {
	bottom: 0 !important;
	right: 0 !important;
	border-top-color: transparent !important;
	border-left-color: transparent !important;
	border-bottom-color: var(--default-color) !important;
	border-right-color: var(--default-color) !important;
}

.refbutton.premium.premium09>.refbutton-instance::before {
	top: 0 !important;
	left: 0 !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
	border-top-color: var(--default-color) !important;
	border-left-color: var(--default-color) !important;
}

.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover:after,
.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover:before {
	width: 100% !important;
	height: 100% !important;
}

.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover:before {
	border-top-color: var(--default-color) !important;
	border-left-color: var(--default-color) !important;
}

.refbutton.premium.premium09>.refbutton-instance:not([disabled]):hover:after {
	border-bottom-color: var(--default-color) !important;
	border-right-color: var(--default-color) !important;
}