.refbutton.premium.special07>.refbutton-instance {
	color: var(--default-color) !important;
	background: transparent !important;
	background-color: transparent !important;
	position: relative !important;
	display: inline-flex !important;
	border: calc(var(--border-width)*1px) solid var(--default-color) !important;
	border-radius: var(--border-radius) !important;
	overflow: hidden !important;
	transition-duration: var(--transition) !important;
}

.refbutton.premium.special07 .refbutton-instance,
.refbutton.premium.special07 .refbutton-instance *{
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.special07>.refbutton-instance::before,
.refbutton.premium.special07>.refbutton-instance span {
	margin: 0 auto !important;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1) !important;
	transition-duration: var(--transition) !important;
}

.refbutton.premium.special07 .refbutton-instance:not([disabled]):hover,
.refbutton.premium.special07 .refbutton-instance:not([disabled]):hover *{
	color: var(--default-color) !important;
	fill: var(--default-color) !important;
	background: var(--default-color) !important;
	background-color: var(--default-color) !important;
	/* background: transparent !important; */
}

.refbutton.premium.special07>.refbutton-instance:not([disabled]):hover span {
	-webkit-transform: translateY(-400%) scale(0, 20) !important;
	transform: translateY(-400%) scale(0, 20) !important;
}

.refbutton.premium.special07>.refbutton-instance::before {
	content: attr(data-button-text) !important;
	color: transparent !important;
	position: absolute !important;
	margin: auto !important;
	font-size: var(--font-size)!important;
	-webkit-transform: translateY(500%) scale(-0.1, 20) !important;
	transform: translateY(500%) scale(-0.1, 20) !important;
}

.refbutton.premium.special07>.refbutton-instance:hover:not([disabled])::before {
	color: var(--contrasted-text-color) !important;
	-webkit-transform: translateY(0) scale(1, 1) !important;
	transform: translateY(0) scale(1, 1) !important;
}