.refbutton.premium.special13 {
	background: transparent !important;
	width: auto !important;
	border-radius: var(--border-radius) !important;
}

.refbutton.premium.special11,
.refbutton.premium.special11>.refbutton-instance {
	width: var(--button-actual-width) !important;
}

.refbutton.premium.special11  .refbutton-instance {
	--h: var(--button-height) !important;
	color: var(--default-color-a) !important;
	overflow: hidden !important;
	text-shadow:
		0 var(--_t, var(--h)) var(--contrasted-text-color),
		0 0 var(--_c, var(--default-color)) !important;
	background:
		linear-gradient(var(--default-color) 0 0) bottom/100% var(--_d, 0) no-repeat !important;
	border-radius: var(--border-radius) !important;
	border: calc(var(--border-width) * 1px ) solid var(--default-color)!important;
}

.refbutton.premium.special11  .refbutton-instance *{
	fill: var(--default-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.special11 > .refbutton-instance:not([disabled]):hover *{
	fill: var(--contrasted-text-color)!important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
	z-index:9999;
}

.refbutton.premium.special11 > .refbutton-instance:not([disabled]):hover {
	--_d: 100% !important;
	--_t: 0 !important;
	--_c: var(--default-color-a) !important;
	border: calc(var(--border-width) * 1px ) solid var(--default-color)!important;
}
