/* sourse code at https://codepen.io/dan10gc/pen/LzLwWp */

.refbutton.premium.special01 .refbutton-instance {
	background: transparent !important;
	color: var(--contrasted-text-color) !important;
	overflow: visible !important;
	padding: 4px 10px !important;
}

.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover,
.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover *{
	background: transparent !important;
	color: var(--contrasted-text-color) !important;
	fill: var(--contrasted-text-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.special01>.refbutton-instance::after,
.refbutton.premium.special01>.refbutton-instance::before {
	content: "" !important;
	position: absolute !important;
	height: 100% !important;
	width: 50% !important;
	transform: skewX(30deg) !important;
	transition: all var(--transition) cubic-bezier(0.68, -0.55, 0.265, 1.55) !important;
	z-index: -2 !important;
}

.refbutton.premium.special01>.refbutton-instance::before {
	background: var(--default-color) !important;
	top: -5px !important;
	left: -3% !important;
	border-left: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-bottom: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.refbutton.premium.special01>.refbutton-instance::after {
	background: var(--default-color) !important;
	filter: brightness(1.5) !important;
	top: 8px !important;
	left: 51% !important;
	/* left: calc(((var(--button-actual-width-val) / 2) + 2) * 1px) !important; */
	border-right: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-bottom: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.refbutton.premium.special01 .refbutton-instance:not([disabled]):hover .refbutton-instance,
.refbutton.premium.special01 .refbutton-instance:not([disabled]):hover .refbutton-instance *{
	color: var(--contrasted-text-color) !important;
	fill: var(--contrasted-text-color) !important;
}

.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover::before,
.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover::after {
	top: 0 !important;
	transform: skewx(0deg) !important;
}

.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover::before {
	left: 49% !important;
	border-left: none !important;
	border-right: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.refbutton.premium.special01>.refbutton-instance:not([disabled]):hover::after {
	left: 0 !important;
	border-right: none !important;
	border-left: calc(var(--border-width) * 1px) solid var(--default-color) !important;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}