.refbutton.premium.special09 .refbutton-instance,
.refbutton.premium.special09 .refbutton-instance *{
	color: var(--color-normal-a) !important;
	fill: var(--color-normal) !important;
	transition: var(--transition) !important;
}

.refbutton.premium.special09>.refbutton-instance {
	color: var(--color-normal-a) !important;
	background:
		linear-gradient(90deg, var(--color-hover) 50%, var(--color-normal) 0) calc(100% - var(--_p, 0%))/200% 100%,
		linear-gradient(var(--color-hover) 0 0) 0% 101%/var(--_p, 0%) calc(var(--border-width)*1px) no-repeat !important;
	-webkit-background-clip: text, padding-box !important;
	background-clip: text, padding-box !important;
	transition: var(--transition) !important;
	border-radius: var(--border-radius) !important;
	border: calc(var(--border-width) * 1px) solid var(--color-normal) !important;
}

.refbutton.premium.special09>.refbutton-instance:not([disabled]):hover *{
	fill: var(--color-hover) !important;
}

.refbutton.premium.special09>.refbutton-instance:not([disabled]):hover {
	--_p: 100% !important;
	border-color: var(--color-hover) !important;
}