.refbutton.premium.special04>.refbutton-instance {
	position: relative;
	text-align: center;
	color: var(--text-color) !important;
	border: calc(var(--border-width) * 1px) solid var(--br-color);
	border-radius: 10px;
	background: var(--bg-color) !important;
	border-radius: var(--border-radius) !important;
	overflow: visible !important;
}

.refbutton.premium.special04 .refbutton-instance,
.refbutton.premium.special04 .refbutton-instance *{
	color: var(--text-color) !important;
	fill: var(--text-color) !important;
	transition: all var(--transition) cubic-bezier(0.77, 0, 0.175, 1) !important;
}

.refbutton.premium.special04 .refbutton-instance:not([disabled]):hover,
.refbutton.premium.special04 .refbutton-instance:not([disabled]):hover *{
	transform: scale(.9) !important;
	color: var(--text-h-color) !important;
	fill: var(--text-h-color) !important;
}

.refbutton.premium.special04>.refbutton-instance:not([disabled]):hover {
	border: calc(var(--border-width) * 1px) solid var(--br-h-color) !important;
	background: transparent !important;
	background: var(--bg-h-color) !important;
}

.refbutton.premium.special04>.refbutton-instance::before,
.refbutton.premium.special04>.refbutton-instance::after {
	content: "" !important;
	position: absolute !important;
	top: -8px !important;
	left: -8px !important;
	right: -8px !important;
	bottom: -8px !important;
	-webkit-animation: clippath 3s infinite linear !important;
	animation: clippath 3s infinite linear !important;
	border: calc(var(--border-width) * 1px) solid var(--br-color) !important;
	border-radius: var(--border-radius) !important;
}

.refbutton.premium.special04>.refbutton-instance:not([disabled]):hover::before,
.refbutton.premium.special04>.refbutton-instance:not([disabled]):hover::after {
	border: calc(var(--border-width) * 1px) solid var(--br-h-color) !important;
	top: 6px !important;
	left: 6px !important;
	right: 6px !important;
	bottom: 6px !important;
}

.refbutton.premium.special04>.refbutton-instance::after {
	-webkit-animation: clippath 3s infinite -1.5s linear !important;
	animation: clippath 3s infinite -1.5s linear !important;
}

@-webkit-keyframes clippath {

	0%,
	100% {
		-webkit-clip-path: inset(0 0 98% 0);
		clip-path: inset(0 0 98% 0);
	}

	25% {
		-webkit-clip-path: inset(0 98% 0 0);
		clip-path: inset(0 98% 0 0);
	}

	50% {
		-webkit-clip-path: inset(98% 0 0 0);
		clip-path: inset(98% 0 0 0);
	}

	75% {
		-webkit-clip-path: inset(0 0 0 98%);
		clip-path: inset(0 0 0 98%);
	}
}

@keyframes clippath {

	0%,
	100% {
		-webkit-clip-path: inset(0 0 98% 0);
		clip-path: inset(0 0 98% 0);
	}

	25% {
		-webkit-clip-path: inset(0 98% 0 0);
		clip-path: inset(0 98% 0 0);
	}

	50% {
		-webkit-clip-path: inset(98% 0 0 0);
		clip-path: inset(98% 0 0 0);
	}

	75% {
		-webkit-clip-path: inset(0 0 0 98%);
		clip-path: inset(0 0 0 98%);
	}
}